# FastAPI backend
fastapi
uvicorn
python-multipart
pydantic
requests

# Environment management
python-dotenv

# Audio processing
librosa
numpy<2
scipy
soundfile

# Speaker diarization (advanced)
pyannote.audio==3.1.1
torch==2.1.0+cu118
torchaudio==2.1.0+cu118
huggingface_hub==0.23.4
speechbrain==0.5.16

# NLP / ML
scikit-learn
networkx
matplotlib

# Whisper via Groq API
groq


# seperately install CUDA-enabled PyTorch 
#pip install torch==2.1.0+cu118 torchaudio==2.1.0+cu118 --index-url https://download.pytorch.org/whl/cu118